<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <link rel="stylesheet" href="/css/book.css" >
</head>
<body>

<h1>Шерлок Холмс – це та людина,
    яка ніколи не жила,
    але яка ніколи і не помре.
</h1>

<div class="head">
    <div class="head_1">
        <a href="https://librebook.me/the_hound_of_the_baskervilles">
            <img src="images/SH.png" alt="Перейти на сайт для чтения книги онлайн">
        </a>
    </div>
    <div class="head_2">
        <p><span class="bold">Назва книги:</span>
            <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%B1%D0%B0%D0%BA%D0%B0_%D0%91%D0%B0%D1%81%D0%BA%D0%B5%D1%80%D0%B2%D0%B8%D0%BB%D0%B5%D0%B9">"Собака Баскервілів"</a>
        </p>
        <p><span class="bold">Автор: </span><a href="https://uk.wikipedia.org/wiki/%D0%90%D1%80%D1%82%D1%83%D1%80_%D0%9A%D0%BE%D0%BD%D0%B0%D0%BD_%D0%94%D0%BE%D0%B9%D0%BB">Артур Конан Дойл</a></p>
        <p><span class="bold">Жанр: </span><a href="https://uk.wikipedia.org/wiki/%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD"> Детективний роман </a></p>
        <p><span class="bold">Рік першого видання:</span> 1901</p>
    </div>
    <div class="head_3">
        <p>Моя улюлена книга</p>
        <p>Ковальчук Анастасія Ігорівна</p>
    </div>

</div>
<div class="body">
    <p><span class="letter">У</span> повісті "Собака Баскервілів" розповідається про те, як неперевершений Шерлок Холмс разом зі своїм вірним другом доктором
        Вотсоном блискуче розкриває черговий злочин. В роботі він використовує знаменитий дедуктивний метод, який допомагає йому розплутувати найзагадковіші
        історії. У роду Баскервілів існує одна моторошна родинна легенда, яку вони передають від покоління до покоління. Легенда ця оповідає про примарного
        собаку, який уночі переслідує всіх Баскервілів на болотах Грімпенської трясовини. Згідно з легендою, уперше примара з'явилася для того, щоб покарати
        одного з Баскервілів — безпутного пройдисвіта Гуґо, що жив у XVII столітті. З того часу собака інколи з'являвся знову, щоб забирати життя у нащадків
        Гуґо. Диявольська примара описується у легенді як велетенський собака чорної масті, з очима, що світяться та величезною пащею.</p>
</div>
<div class="end">
    <div class="end_1">
        <a href="https://uk.wikipedia.org/wiki/%D0%90%D1%80%D1%82%D1%83%D1%80_%D0%9A%D0%BE%D0%BD%D0%B0%D0%BD_%D0%94%D0%BE%D0%B9%D0%BB">
            <img src="images/AKD.png">
        </a>
    </div>
    <div class="end_2">
        <p><a href="https://uk.wikipedia.org/wiki/%D0%90%D1%80%D1%82%D1%83%D1%80_%D0%9A%D0%BE%D0%BD%D0%B0%D0%BD_%D0%94%D0%BE%D0%B9%D0%BB">Артур Конан Дойл</a></p>
        <p><span class="bold">Народився</span> 22 травня 1859</p>
        <p>Сер А́ртур Ігна́тіус Ко́нан Дойл (англ. Sir Arthur Ignatius Conan Doyle; 22 травня 1859 — 7 липня 1930) — британський письменник, відомий насамперед
            своїми детективними творами про Шерлока Холмса. Також відомі його науково-фантастичні твори про професора Челленджера, історичні романи. Крім того,
            він писав п'єси та вірші. Справжнє прізвище письменника — Дойл, Конан — його середнє ім'я, що стало прибраним другим прізвищем (частиною подвійного).
            Також зустрічаються варіанти написання Конан-Дойль, а також Конан Дойль, Конан-Дойл.</p>
    </div>

</div>
<div class="contents">
    <h2>Зміст</h2>
    <ol type="I">
        <li><a href="#t1">Мистер Шерлок Холмс</a></li>
        <li><a href="#t2">Проклятие над Баскервилями</a></li>
        <li><a href="#t3">Задача</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/4">Сэр Генри Баскервиль</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/5">Три порванные нити</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/6">Баскервиль-голль</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/7">Стапльтоны из Меррипит-гауза</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/8" >Первое донесение доктора Ватсона</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/9">Второе донесение доктора Ватсона. Свет на болоте</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/10" >Извлечение из дневника доктора Ватсона</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/11" >Человек на горе</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/12" >Смерть на болоте</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/13" >Сети стягиваются</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/14" >Собака Баскервилей</a></li>
        <li><a href="https://librebook.me/the_hound_of_the_baskervilles/vol1/15" >Взгляд назад</a></li>

    </ol>
</div>

<div class="zmist">
    <h2 id="t1">Мистер Шерлок Холмс</h2>
    <p>Мистер Шерлок Холмс, имевший обыкновение вставать очень поздно, за исключением тех нередких случаев, когда вовсе не ложился спать, сидел за завтраком. Я стоял на коврике перед камином и держал в руках трость, которую наш посетитель забыл накануне вечером. Это была красивая, толстая палка с круглым набалдашником. Как раз под ним палку обхватывала широкая (в дюйм ширины) серебряная лента, а на этой ленте было выгравировано: «Джэмсу Мортимеру, M. R. С. S. от его друзей из С. С. Н.» и год «1884». Это была как раз такого рода трость, какую носят обыкновенно старомодные семейные доктора, — почтенная, прочная и надежная.

        <br> — Что вы с нею делаете, Ватсон?

        <br> Холмс сидел ко мне спиной, а я ничем не обнаружил своего занятия.

        <br>— Почему вы узнали, что я делаю? У вас, должно быть, есть глаза в затылке.

        <br>— У меня по крайней мере есть хорошо отполированный кофейник, и он стоит передо мною, — ответил он. — Но скажите мне, Ватсон, что вы делаете с тростью нашего посетителя? Так как мы к несчастию упустили его визит и не имеем понятия о том, зачем он приходил, то этот знак памяти приобретает известное значение. Послушаем, какое вы составили представление о человеке, рассмотрев его трость.

        <br> — Я думаю, — сказал я, пользуясь, насколько мог, методом моего товарища, — что доктор Мортимер удачный пожилой врач, пользующийся уважением, раз знакомые оказали ему внимание этим подарком.

        <br>— Хорошо! — одобрил Холмс. — Прекрасно!

        <br>— Я также думаю, что он, вероятно, деревенский врач и делает много визитов пешком.

        <br>— Почему?

        <br>— Потому что эта трость, очень красивая, когда была новою, до того исцарапана, что вряд ли ее мог бы употреблять городской врач. Железный наконечник до того истерт, что, очевидно, с нею совершено не малое число прогулок.

        <br>— Совершенно здраво! — заметил Холмс.

        <br>— Затем на ней выгравировано «от друзей из С. С. Н.». Я полагаю, что эти буквы означают какую-нибудь охоту (hunt), какое-нибудь местное общество охотников, членам которого он, может быть, подавал медицинскую помощь, за что они и сделали ему этот маленький подарок.

        <br>— Право, Ватсон, вы превосходите самого себя, — сказал Холмс, отодвигая стул и закуривая папироску. — Я должен сказать, что во всех ваших любезных рассказах о моих ничтожных действиях вы слишком низко оценивали свои собственные способности. Может быть, вы сами и не освещаете, но вы проводник света. Некоторые люди, не обладая сами гением, имеют замечательную способность вызывать его в других. Признаюсь, дорогой товарищ, что я в большом долгу у вас.

        <br>Никогда раньше не говорил он так много, и я должен сознаться, что слова его доставили мне большое удовольствие, потому что меня часто обижало его равнодушие к моему восхищению им и к моим попыткам предать гласности его метод. Я также гордился тем, что настолько усвоил его систему, что применением ее заслужил его одобрение. Холмс взял у меня из рук трость и рассматривал ее несколько минут невооруженным глазом. Затем, с выражением возбужденного интереса на лице, он отложил папиросу и, подойдя с тростью к окну, стал ее снова рассматривать в лупу.

        <br>— Интересно, но элементарно, — произнес он, садясь в свой любимый уголок на диване. — Есть, конечно, одно или два верных указания относительно трости. Они дают нам основание для нескольких выводов.

        <br>— Разве я упустил что-нибудь из вида? — спросил я с некоторою самонадеянностью. — Полагаю, — ничего важного?

        <br>— Боюсь, дорогой Ватсон, что большинство ваших заключений ошибочно. Я совершенно искренно сказал, что вы вызываете во мне мысли, и, замечая ваши заблуждения, я случайно напал на истинный след. Я не говорю, что вы вполне ошиблись. Человек этот, без сомнения, деревенский врач, и он очень много ходит.

        <br>— Так я был прав.

        <br> — Настолько, да.

        <br>— Но это же и все.

        <br>— Нет, нет, милый Ватсон, не все, далеко не все. Я, например, сказал бы, что подарок доктору сделан скорее от госпиталя, чем от охотничьего общества, и раз перед этим госпиталем поставлены буквы С. C., то само собою напрашиваются на ум слова «Чэринг-Кросс» (Charing-Cross Hospital).

        <br>— Вы, может быть, правы.

        <br>— Все говорит за такое толкование. И если мы примем его за основную гипотезу, то будем иметь новые данные для восстановления личности этого неизвестного посетителя.

        <br>— Ну так, предполагая, что буквы С. С. Н. должны означать Чэринг-Кросский госпиталь, какие же мы можем сделать дальнейшие выводы?
        Вид нашего посетителя удивил меня, потому что я ожидал типичного деревенского врача. Он был очень высокого роста, тонкий, с длинным носом, похожим на клюв, выдававшимся между двумя острыми, серыми глазами, близко поставленными и ярко блестевшими из-за очков в золотой оправе. Он был одет в профессиональный, но неряшливый костюм: его сюртук был грязноват, а брюки потерты. Хотя он был еще молод, но спина его уже была сгорблена, и он шел, нагнув вперед голову, с общим выражением пытливой благосклонности. Когда он вошел, взгляд его упал на трость в руках Холмса, и он подбежал к ней с радостным возгласом:

        <br>— Как я доволен! Я не был уверен, здесь ли я ее оставил или в пароходной конторе. Я бы не хотел ни за что на свете потерять эту трость.

        <br>— Это, как видно, подарок, — сказал Холмс.

        <br>— Да, сэр…

        <br>— От Чэринг-Кросского госпиталя?

        <br>— От нескольких друзей, служащих там, по случаю моей свадьбы.

        <br>— Ай, ай, это скверно, — сказал Холмс, качая головой.

        <br>Глаза доктора Мортамера блеснули сквозь очки кротким удивлением.

        <br>— Почему же это скверно?

        <br>— Только потому, что вы разбили наши маленькие выводы. По случаю вашей свадьбы, говорите вы?

        <br> — Да, сэр. Я женился и оставил госпиталь, а вместе с ним и всякие надежды на практику консультанта. Это было необходимо для того, чтобы я мог завести свой собственный домашний очаг.

        <br>— Ага, так мы в сущности уже не так ошиблись, — сказал Холмс. Итак, доктор Джэмс Мортимер…

        <br>— Мистер, сэр, мистер… скромный врач.

        <br>— И очевидно человек с точным мышлением.

        <br>— Пачкун в науке, мистер Холмс, собиратель раковин на берегах великого неисследованного океана. Полагаю, что я обращаюсь к мистеру Шерлоку Холмсу, а не…

        <br> — Нет, это мой друг, доктор Ватсон.

        <br>— Очень рад, что встретил вас, сэр. Я слышал ваше имя в связи с именем вашего друга. Вы очень интересуете меня, мистер Холмс. Я с нетерпением ожидал увидеть такой доликоцефальный череп и столь хорошо выраженное развитие надглазной кости. Вы ничего не будете иметь, если я проведу пальцем по вашему теменному шву? Снимок с вашего черепа, пока оригинал его еще деятелен, составил бы украшение всякого антропологического музея. Я вовсе не намерен быть неделикатным, но признаюсь, что жажду вашего черепа.

        <br> Шерлок Холмс указал странному посетителю на стул и сказал:

        <br> — Я вижу, сэр, что вы восторженный поклонник своей идеи, как и я своей. Я вижу по вашему указательному пальцу, что вы сами скручиваете себе папиросы. Не стесняйтесь курить.

        <br>Посетитель вынул из кармана табак и бумажку, и с поразительною ловкостью скрутил папироску. У него были длинные дрожащие пальцы, столь же подвижные и беспокойные, как щупальцы насекомого.

        <br>Холмс молчал, но его быстрые взгляды доказывали мне, насколько он интересуется нашим удивительным гостем.

        <br> — Я полагаю, сэр, — сказал он, наконец, — что вы сделали мне честь придти сюда вчера вечером и опять сегодня не с исключительной целью исследовать мой череп?

        <br> — Нет, сэр, нет, хотя я счастлив, что получил и эту возможность. Я пришел к вам, мистер Холмс, потому, что признаю себя непрактичным человеком и потому, что я внезапно стал лицом к лицу с очень сериозной и необыкновенной задачей. Признавая вас вторым экспертом в Европе…

        <br>— Неужели, сэр! Могу я вас спросить, кто имеет честь быть первым? — спросил Холмс несколько резко.

        <br>— Но точно научный ум Бертильона будет всегда иметь сильное влияние.

        <br>— Так не лучше ли вам посоветоваться с ним?

        <br>— Я говорил, сэр, об уме точно научном. Что же касается до практически делового человека, то всеми признано, что вы в этом отношении единственный. Надеюсь, сэр, что я неумышленно не…

        <br>— Немножко, — сказал Холмс. — Я думаю, доктор Мортимер, что вы сделаете лучше, если, без дальнейших разговоров, будете добры просто изложить мне, в чем заключается задача, для разрешения которой требуется моя помощь.</p>

    <h2 id="t2">Проклятие над Баскервилями</h2>
    <p>— У меня в кармане рукопись, — начал Джэмс Мортимер.

        <br>— Я это заметил, как только вы вошли в комнату, — сказал Холмс.

        <br>— Это старая рукопись.

        <br>— Не новее восемнадцатого столетия, если это только не подделка.

        <br>— Как могли вы это узнать, сэр?

        <br>— Все время, пока вы говорили, из вашего кармана выглядывало дюйма два этой рукописи. Плохим был бы я экспертом, если бы не мог указать на эпоху документа с точностью приблизительно до десяти лет. Может быть, вы читали мою небольшую монографию об этом. Я отношу этот документ к 1730 году.

        <br>— Точная его дата 1742. — При этом доктор Мортимер вынул документ из кармана. — Эта фамильная бумага была мне доверена сэром Чарльзом Баскервилем, внезапная и загадочная смерть которого около трех месяцев назад произвела такое возбуждение в Девоншире. Я могу сказать, что был его другом и врачом. Это был, сэр, человек сильного ума, строгий, практичный и с столь же мало развитым воображением, как у меня самого. Между тем он сериозно отнесся к этому документу, и его ум был подготовлен к постигшему его концу.

        <br>Холмс протянул руку за рукописью и разгладил ее на своем колене.

        <br>— Заметьте, Ватсон, перемежающиеся длинные и короткие «S». Это одно из нескольких указаний, давших мне возможность определить дату.

        <br> Я посмотрел из-за его плеча на желтую бумагу и поблекшее письмо. В заголовке было написано: «Баскервиль-голль», а внизу, — большими цифрами нацарапано: «1742».

        <br>— Это имеет вид какого-то рассказа.

        <br>— Да, это рассказ одной легенды, которая в ходу в семействе Баскервиль.

        <br>— Но, насколько я понимаю, вы желаете посоветоваться со мною о чем-то более современном и практичном?

        <br> — О самом современном. О самом практическом спешном деле, которое должно быть решено в двадцать четыре часа. Но рукопись не длинная и тесно связана с делом. С вашего позволения я прочту ее вам.

        <br>Холмс прислонился к спинке кресла, сложил вместе кончики пальцев обеих рук и закрыл глаза с выражением покорности. Доктор Мортимер повернул рукопись к свету и стал читать высоким, надтреснутым голосом следующий любопытный рассказ:

        <br> «Много говорилось о происхождении Баскервильской собаки, но так как я происхожу по прямой линии от Гюго Баскервиля, и так как я слышал эту историю от моего отца, а он от своего, то я изложил ее с полною уверенностью, что она произошла именно так, как тут изложена. И я бы желал, чтобы вы, сыновья мои, верили в то, что та же самая Справедливость, которая наказывает грех, может также милостиво простить его, и что нет того тяжелого проклятия, которое бы не могло быть снято молитвою и раскаянием. Так научитесь из этого рассказа не страшиться плодов прошлого, но скорее быть предусмотрительными на счет будущего, дабы скверные страсти, от которых так жестоко пострадал наш род, не были снова распущены на нашу погибель.

        <br> Итак, знайте, что во время великого восстания (на историю которого, написанную ученым лордом Кларендоном, я должен сериозно обратить ваше внимание) поместье Баскервиля находилось во владении Гюго Баскервиля, самого необузданного, нечестивого безбожника. Эти качества соседи простили бы и ему, потому что они никогда не видели, чтобы святые процветали в этой местности, но он отличался таким жестоким развратом, что имя его сделалось притчей на всем Западе. Случилось так, что Гюго полюбил (если можно выразить столь прекрасным словом его гнусную страсть) дочь зажиточного крестьянина, арендовавшего земли близ Баскервильского поместья. Но молодая девушка, скромная и пользовавшаяся добрым именем, постоянно избегала его, страшась его дурной славы.

        <br>Однажды, в день Михаила Архангела, Гюго с пятью или шестью из своих бездельных и злых товарищей прокрался на ферму и похитил девушку, пока отец ее и братья были в отсутствии, что ему было прекрасно известно. Девушку привезли в замок и поместили в комнате верхнего этажа, а Гюго и его друзья предались, по своему обыкновению, продолжительной ночной оргии. Между тем бедная девушка, слыша песни, крики и страшную ругань, доходившие до нее снизу, чуть с ума не сошла, потому что, когда Гюго Баскервиль был пьян, то, говорят, употреблял такие слова, которые могли сразить человека, слышавшего их. Наконец доведенная до крайнего ужаса, она сделала то, что устрашило бы самого храброго мужчину: при помощи плюща, покрывавшего (и поныне покрывающего) южную стену, она спустилась с карниза и побежала через болото по направлению к ферме своего отца, отстоявшей от замка на девять миль.

        <br>Немного позднее Гюго вздумал отнести своей гостье поесть и попить, — а может быть и еще что-нибудь худшее, и нашел клетку пустою, — птичка улетела. Им тогда точно овладел дьявол, и он, бросившись вниз, вбежал в столовую, вскочил на большой стол, опрокидывая бутылки и кушанья, и закричал во все горло, что он готов в эту же ночь предать свое тело и душу нечистому духу, только бы ему удалось догнать девушку. Кутилы стояли разиня рот при виде бешенства своего хозяина, как вдруг один из них, более других злой, а может быть, более пьяный, закричал, что следовало бы выпустить на нее собак. Услыхав это, Гюго выбежал из дому и, вызывая конюхов, приказал им оседлать его кобылу и выпустит собак. Когда это было сделано, он дал собакам понюхать головной платок девушки, толкнул их на след и с громким криком полетел по болоту, освещенному луной.

        <br> Кутилы продолжали стоять, вытаращив глаза, не понимая, что такое было предпринято столь поспешно. Но вдруг их отяжелевшие мозги прояснились, и они отдали себе отчет в том, что должно совершиться на болоте. Все взволновались: кто требовал свой пистолет, кто свою лошадь, а кто еще бутылку вина. Наконец, они пришли в себя и всею гурьбою (тринадцать всего человек) сели на лошадей и пустились догонять Гюго. Месяц ясно светил над ними, и они быстро скакали все рядом по тому направлению, по которому обязательно должна была бежать девушка, если она хотела вернуться домой.

        <br>Они проскакали две-три мили, когда встретили одного из ночных пастухов на болоте и спросили его, не видал ли он охоты, История гласит, что человек этот был до того поражен страхом, что еле мог говорить, но, наконец, сказал, что видел несчастную девушку и собак, бежавших по ее следам. «Но я видел еще больше этого, — прибавил он, — Гюго Баскервиль обогнал меня на своей вороной кобыле, а за ним молча бежала собака, — такое исчадие ада, какое не дай мне Бог никогда видеть за своими пятами». Пьяные помещики выругали пастуха и продолжали свой путь. Но вскоре по их коже пробежали мурашки, потому что они услыхали быстрый стук копыт и тотчас же увидели на болоте скакавшую мимо них вороную кобылу, забрызганную белой пеной, с волочащимися поводьями и пустым седлом. Кутилы собрались теснее друг к другу, потому что их обдал страх, но они все-таки продолжали подвигаться по болоту, хотя каждый, будь он один, рад был бы повернуть обратно. Они ехали медленно и, наконец, добрались до собак. Хотя они все были знамениты своею смелостью и дрессировкой, однако же, тут, собравшись в кучу, выли над выемкой в болоте, некоторые отскакивали от нее, другие же, дрожа и вытаращив глаза, смотрели вниз.

        <br> Компания, протрезвившаяся, как можно думать, остановилась. Большинство всадников ни за что не хотело двигаться дальше, но трое из них, самых смелых, а может быть, и самых пьяных, спустились во впадину. Перед ними открылось широкое пространство, на котором стояли большие камни, видимые там еще и теперь и поставленные здесь в древние времена каким-нибудь забытым народом. Месяц ярко освещал площадку, и в центре ее лежала несчастная девушка, упавшая сюда мертвою от страха и усталости. Но волосы поднялись на головах трех дьявольски смелых бездельников не от этого вида и даже не от того, что тут же, рядом с девушкою, лежало тело Гюго Баскервиля, а потому, что над Гюго стояло, трепля его за горло, отвратительное существо, похожее на собаку, но несравненно крупнее когда-либо виденной собаки. Пока всадники смотрели на эту картину, животное вырвало горло Гюго Баскервиля и повернуло к ним голову с горящими глазами и разинутою челюстью, с которой капала кровь. Все трое вскрикнули от ужаса и ускакали, спасая жизнь, и долго крики их оглашали болото. Один из них, говорят, умер в ту же ночь от того, что он видел, а двое остальных на всю жизнь остались разбитыми людьми.

        <br>Такова, сыновья мои, легенда о появлении собаки, которая с тех пор была, говорят, бичом нашего рода. Изложил я ее, потому что известное менее внушает ужаса, чем предполагаемое и угадываемое. Нельзя также отрицать, что многие из нашего рода погибли неестественною смертью, — внезапной, кровавой и таинственной. Но предадимся защите бесконечно благостного Провидения, которое не будет вечно наказывать невинного дальше третьего или четвертого поколения, как угрожает Священное Писание. A потому я поручаю вас, сыновья мои, этому Провидению и советую вам ради предосторожности не проходить по болоту в темные часы ночи, когда властвует нечистая сила.

        <br> (От Гюго Баскервиля его сыновьям Роджеру и Джону, с предупреждением ничего не говорить об этом сестре своей Елизавете)».
        Когда доктор Мортимер окончил чтение этого странного рассказа, он сдвинул на лоб свои очки и пристально уставился в Шерлока Холмса. Последний зевнул и бросил окурок своей папироски в камин.

        <br> — Ну? — спросил он.

        <br> — Разве вы не находите это интересным?

        <br> — Для собирателя волшебных сказок.

        <br>Доктор Мортимер вынул из кармана сложенную газету и сказал:

        <br>— Теперь, мистер Холмс, мы вам дадим нечто более современное. Это «Хроника графства Девон» от 14-го мая нынешнего года. Она заключает в себе краткое сообщение о фактах, сопровождавших смерть сэра Чарльза Баскервиля.

        <br> Мой друг нагнулся несколько вперед, и на лице его выразилось напряженное внимание. Наш посетитель поправил очки и начал читать:</p>

    <h2 id="t3">Задача</h2>
    <p>Признаюсь, при этих словах я содрогнулся. Да и в голосе доктора слышалось легкое дрожание, доказывавшее, что и он глубоко взволнован тем, что нам рассказал. Холмс, возбужденный, нагнулся вперед, и глаза его блестели тем жестким, сухим блеском, какой всегда принимал его взгляд, когда он бывал сильно заинтересован.

        <br>— Вы их видели?

        <br>— Так же ясно, как вижу вас.

        <br> — И вы ничего не сказали?

        <br> — К чему?

        <br>— Каким образом могло случиться, что никто, кроме вас, не видел их?

        <br> — Отпечатки эти находились в двадцати приблизительно ярдах от тела, и никто не подумал о них. Полагаю, что и я бы не обратил на них внимания, если бы не знал легенды.

        <br> — На болоте много овчарок?

        <br>— Конечно, но то была не овчарка.

        <br> — Вы говорите, собака была большая.

        <br> — Громадная.

        <br> — Но она не подходила к телу?

        <br>— Нет.

        <br>— Какая была погода в ту ночь?

        <br> — Ночь была сырая.

        <br> — Но дождь не шел?

        <br> — Нет.

        <br>— Какой вид имеет аллея?

        <br> — Она состоит из двух линий тисовых живых непроницаемых изгородей, двенадцати футов высоты. Дорожка между ними имеет приблизительно восемь футов ширины.

        <br> — Есть ли что-нибудь между изгородями и дорожкою?

        <br>  — Да, между ними тянется с обеих сторон полоска травы около шести футов ширины.

        <br>— Я понял, что в аллею есть доступ через калитку, проделанную в изгороди?

        <br>— Да, через калитку, которая выходит на болото.

        <br> — Существует ли какое-нибудь другое отверстие в изгороди?

        <br> — Нет никакого.

        <br> — Так что, для того, чтобы войти в тисовую аллею, надо спуститься от дома или войти через калитку с болота?

        <br> — Есть еще выход — через беседку на дальнем конце.

        <br> — Дошел ли сэр Чарльз до нее?

        <br> — Нет, он лежал в пятидесяти, приблизительно, ярдах от нее.

        <br> — Теперь скажите мне, доктор Мортимер, это очень важно: виденные вами следы были отпечатаны на дорожке, а не на траве?

        <br>— На траве нельзя было видеть никаких следов.

        <br>— Были ли они на стороне калитки?

        <br> — Да, на краю дорожки, с той же стороны, где и калитка.

        <br> — Вы чрезвычайно заинтересовали меня. Еще вопрос. Была ли заперта калитка?

        <br> — Заперта на замок.

        <br>— Как высока она?

        <br>— Около четырех футов.

        <br> — Так что можно перелезть через нее?

        <br> — Да.

        <br> — Не видели ли вы каких-нибудь следов у самой калитки?

        <br> — Ничего особенного.

        <br>— Царь Небесный! И никто не исследовал это место?

        <br> — Я сам осмотрел его.

        <br> — И ничего не нашли?

        <br> — Я был очень смущен. Было очевидно, что сэр Чарльз стоял тут в продолжение пяти или десяти минут.

        <br> — Почему вы это узнали?

        <br> — Потому что пепел с его сигары успел упасть два раза.

        <br> — Прекрасно. Это, Ватсон, коллега нам по душе. Но следы?

        <br> — На всем этом маленьком кусочке гравия были видны одни только его следы. Я не видел никаких иных.

        <br> Шерлок Холмс ударил себя по колену с выражением досады и воскликнул:

        <br>— Ах, отчего меня там не было! Это, очевидно, необыкновенно интересное дело и такого рода, что оно представляет обширное поле для действий научному эксперту. Эта страница гравия, на которой я мог бы прочесть так много, давно уже стерта дождем и тяжелыми сапогами любопытных мужиков. Ах, доктор Мортимер, доктор Мортимер! Как это вы меня не призвали туда! На вас поистине лежит большая ответственность.

        <br> — Я не мог вас призвать, мистер Холмс, не обнаружив этих фактов во всеобщее сведение, а я уже высказал вам причины, по которым не хотел этого сделать. Кроме того, кроме того…

        <br> — Почему вы колеблетесь?

        <br> — Есть область, в которой самый проницательный и опытный сыщик беспомощен.

        <br> — Вы хотите сказать, что дело это сверхъестественное?

        <br> — Я этого собственно не сказал.

        <br> — Да, но, очевидно, думаете.

        <br> — Именно. Мое тело оставалось в этом кресле и, как я, к сожалению, вижу, истребило в мое отсутствие две больших кружки кофе и невероятное количество табаку. Когда вы ушли, я послал к Стамфорду за артиллерийскою картою этой части болота, и мой ум целый день бродил по нему. Я могу похвастать, что не заблужусь на его дорогах.</p>
</div>


</body>
</html>